---
import '../styles/global.css';
import SponsorsFooter from '../components/SponsorsFooter.astro';
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
	title: string;
	mode?: 'dark' | 'light';
}

const { title, mode = 'light' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="view-transition" content="same-origin" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@700;900&display=swap" rel="stylesheet">
	</head>
	<body class="antialiased font-inter tracking-tight selection:bg-[var(--color-tertiary)] selection:text-[var(--color-secondary)] overflow-x-hidden w-full">
		<slot />
		<SponsorsFooter mode={mode} />
		<SpeedInsights />
		<script>
			import { inject } from '@vercel/analytics';
			inject();
		</script>
	</body>
</html>
